@model List<Uiftec.PPW.Redesocial.Models.ComentarioModel>

<h2>Comentários Externos</h2>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var c in Model)
        {
            <li class="list-group-item">
                <strong>@c.NomeAutor</strong> comentou:<br />
                @c.Texto<br />
                <small>@c.DataComentario.ToString("g")</small>
            </li>
        }
    </ul>
}
else
{
    <p>Nenhum comentário disponível.</p>
}
