@model List<Uiftec.PPW.Redesocial.Models.StoryModel>

<h2>Stories Externos</h2>

@if (Model.Any())
{
    <div class="d-flex">
        @foreach (var story in Model)
        {
            <div class="mx-2 text-center">
                <img src="@story.ImagemUrl" style="width:100px; height:100px; border-radius:50%;" />
                <p><small>expira em: @story.DataExpiracao.ToShortTimeString()</small></p>
            </div>
        }
    </div>
}
else
{
    <p>Nenhum story disponível.</p>
}
